@charset "utf-8";

@import "../node_modules/bulma/bulma";

$rootHeightDesktop: 100vh;
$rootHeightMobile: 50vh;
$navbarHeight: 3rem;
$navbarLogoPadding: 0.5rem;
$navbarRoomIdPadding: 1rem;
$bottomContentPadding: 1rem;

html, body {
  padding: 0;
  margin: 0;
}

.root {
  height: $rootHeightDesktop;
}

.video {
  background-color: #000000;
  height: 100%;

  @include mobile {
    height: 50%;
  }
}

.sidebar {
  height: 100%;

  @include mobile {
    height: 50%;
  }
}

.navbar {
  height: $navbarHeight;

  .navbar--left {
    align-self: center;
    .logo {
      height: calc(#{$navbarHeight} - #{$navbarLogoPadding});
      width: auto;
      padding-left: $navbarLogoPadding;
      padding-top: calc(#{$navbarLogoPadding} / 2);
    }
  }

  .navbar--right {
    align-self: center;
    
    .roomId {
      padding-right: $navbarRoomIdPadding
    }
  }
}

.content {
  height: calc(#{$rootHeightDesktop} - #{$navbarHeight} - #{$bottomContentPadding});

  @include mobile {
    height: calc(#{$rootHeightMobile} - #{$navbarHeight} - #{$bottomContentPadding});
  }
}

.chatRoom {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: inherit;
}

.chatLog {
  flex-grow: 1;
  overflow: auto;
}

.chatInput {
  padding-top: 0.75rem;
  padding-bottom: 0rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}