@charset "utf-8";

@import "../node_modules/bulma/bulma";

$bottomCorrection: 5rem;
$navbarHeight: 3rem;
$navbarItemPadding: 1rem;
$chatInputHeight: 100px;

html, body {
  padding: 0;
  margin: 0;
}

.root {
  height: 100vh;
}

.video {
  background-color: #000000;
  height: 100%;
  // padding-bottom: $bottomCorrection;
}

.sidebar {
  height: 100%;
}

.navbar {
  height: $navbarHeight;

  .navbar--left {
    align-self: center;
    .logo {
      height: calc(#{$navbarHeight} - #{$navbarItemPadding});
      width: auto;
      padding-left: $navbarItemPadding;
      padding-top: calc(#{$navbarItemPadding} / 2);
    }
  }

  .navbar--right {
    align-self: center;
    
    .roomId {
      padding-right: $navbarItemPadding
    }
  }
}

.content {
  height: calc(100vh - #{$navbarHeight} - #{$bottomCorrection});
}

.chatRoom {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: inherit;
}

.chatLog {
  flex-grow: 1;
  overflow: auto;
}

.chatInput {
}