@charset "utf-8";

@import "../node_modules/bulma/bulma";

.root {
  height: 100vh;
}

.video {
  background-color: #000000;
  height: 100%;
}

.sidebar {
  height: 100%;

  .navbar {
    background-color: red;
    height: 3rem;
  }

  .content {
    background-color: blueviolet;
    height: calc(100vh - 3rem);
  }
}